@import "reset.css";
@import "variables.css";

/* Component */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/alt-screen-header.css";
@import "components/badge.css";
@import "components/icon-raw.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

#splash-screen {
  z-index: 2;
  background-color: var(--yellow);
  position: absolute;
  height: 107vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  color: #331c1b;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}
